/* Dialog layout */
.k-block-selector {
  max-width: 70rem;
  width: 100% !important;
}

.k-block-selector .k-block-types {
  grid-template-columns: repeat(auto-fill, minmax(118px, 1fr));
  grid-gap: 0.75rem;
}

@media (min-width: 30em) {
  .k-block-selector .k-block-types {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

/* Button */
.k-block-selector .k-block-types .k-button {
  padding-right: 0.5rem;
}

@media (max-width: 29.9375em) {
  .k-block-selector .k-block-types .k-button {
    font-size: var(--text-xs);
  }
}

.k-block-selector .k-block-types .k-button-text {
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}

.k-block-selector .k-block-types .k-button-text:hover,
.k-block-selector .k-block-types .k-button-text:focus {
  opacity: 0.65;
}

.k-block-selector .k-block-types .k-button-text > * + * {
  margin-top: 0.375rem;
  display: block;
}

.k-block-selector .k-block-types .k-button-text img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.k-block-selector .k-block-types .k-button-text .k-icon {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  color: var(--color-text);
}
